**/node_modules
*.env
.env.local
*generated/
tsconfig.tsbuildinfo

# Turborepo
.turbo/

# PNPM
.pnpm-store/        

# Build outputs
**/dist
**/.next

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


# docs
docs/