**/node_modules
*.env
.env.local
*generated/
*.cursor/

# Turborepo
.turbo/

# PNPM
.pnpm-store/        

# Build outputs
**/dist
**/.next

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
!.vscode/extensions.json


# docs
docs/