PORT=3410
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/database"
JWT_SECRET="your-32-character-secret-key-here"
LOG_LEVEL=info
LOG_PRETTY=false
CLIENT_HISTORY_STORAGE_DIR=.data/client-history-uploads
CLIENT_SERVICE_INTERNAL_TOKEN=
