# Banco de Dados
DATABASE_URL=""

# Autenticação
JWT_SECRET="01234567890123456789012345678901"

# Criptografia (gere com: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))")
MTK_ENCRYPTION_KEY="/4555555555555555555555555555555555555555555555555555555555555555="

# E-mail (Gmail SMTP)
EMAIL_USER="teste@teste.com"
EMAIL_APP_PASSWORD="00000000"

# Frontend (Next.js - precisa do prefixo NEXT_PUBLIC_)
NEXT_PUBLIC_API_URL="http://localhost:3333"

USER_SERVICE_URL="http://localhost:3335"
