# Banco de Dados
DATABASE_URL=""

# Autenticação
JWT_SECRET="55555555555555555555555555555555"


# E-mail (Gmail SMTP)
EMAIL_USER="teste@teste.com"
EMAIL_APP_PASSWORD="00000000"

# Frontend (Next.js - precisa do prefixo NEXT_PUBLIC_)
NEXT_PUBLIC_API_URL="http://localhost:3010"

USER_SERVICE_URL="http://localhost:3030"
AUDIT_SERVICE_URL="http://localhost:3020"
AUDIT_SERVICE_PORT=3020
