# Autenticação (obrigatório)
JWT_SECRET="your-32-character-secret-key-here"

# Gateway
GATEWAY_PORT=3334
GATEWAY_ALLOWED_ORIGINS=http://localhost:3000
LEGACY_API_URL=http://localhost:3333

# Log
LOG_LEVEL=info
LOG_PRETTY=false

# Audit Service
AUDIT_ENABLED=false
AUDIT_SERVICE_URL=http://localhost:3335
AUDIT_SERVICE_TOKEN=audit-service-token